.top {
  background-color: rgb(145, 15, 63);
}
.top h3 {
  color: white;
  text-align: center;
}

.navbar {
  position: sticky;
  padding-left: 15px;
  display: flex;
  justify-content: space-around;
  gap: 50px;
  align-items: center;
  width: 100%;
}
.navbar ul {
  display: flex;
  gap: 10px;
  align-items: center;
  list-style: none;
  color: rgba(61, 8, 27, 0.75);
  text-decoration: none;
}
.navbar ul li a {
  text-decoration: none;
  color: rgba(61, 8, 27, 0.75);
}
.navbar .cart {
  display: flex;
  gap: 45px;
  padding-left: 150px;
}
.navbar label {
  display: none;
}

#check {
  display: none;
}

#check:checked ~ .navbar ul {
  display: block;
}

@media screen and (max-width: 720px) {
  .navbar label {
    display: block;
  }
  .navbar ul {
    display: none;
    position: absolute;
    top: 60px;
    z-index: 1111;
    background-color: rgb(242, 239, 221);
    width: 95%;
  }
  .navbar ul li {
    padding: 20px;
    color: rgb(145, 15, 63);
  }
}
.foot {
  font-size: large;
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  align-items: center;
  color: rgba(61, 8, 27, 0.75);
}
.foot ul li {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(242, 239, 221);
  overflow-x: hidden;
}

.top {
  background-color: rgb(145, 15, 63);
}
.top h3 {
  color: white;
  text-align: center;
}

.flex_jd {
  box-shadow: 4px solid brown;
  text-align: center;
  color: brown;
}

.single_bar {
  padding-left: 150px;
  background-color: rgb(145, 15, 63);
}
.single_bar h1 {
  color: white;
  font-family: Arial "Mariposa Sans", sans-serif;
}
.single_bar .sb1 {
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
  flex-wrap: wrap !important;
  color: white;
}
.single_bar .sb2 {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
  color: white;
  flex-wrap: wrap !important;
}

.space {
  width: 100%;
  height: 30px;
}

.combo {
  padding-left: 150px;
  background-color: rgb(145, 15, 63);
}
.combo h1 {
  color: white;
  font-family: Arial "Mariposa Sans", sans-serif;
}
.combo .cmb {
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
  color: white;
  flex-wrap: wrap !important;
}
.combo .cmb .c1 h4 {
  text-decoration: line-through;
}

.hamper {
  padding-left: 150px;
  background-color: rgb(145, 15, 63);
}
.hamper h1 {
  color: white;
  font-family: Arial "Mariposa Sans", sans-serif;
}
.hamper .hmp {
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
  flex-wrap: wrap !important;
  color: white;
}
.hamper .hmp .c1 h4 {
  text-decoration: line-through;
}

.space2 {
  width: 100%;
  height: 70px;
}

.hamper_down {
  display: flex;
  justify-content: center;
  flex-wrap: wrap !important;
  align-items: center;
  color: rgba(61, 8, 27, 0.75);
}
.hamper_down h1 {
  text-align: center;
  font-size: 50px;
}
.hamper_down p {
  text-align: center;
}

.videos {
  height: 300px;
  width: 100%;
}/*# sourceMappingURL=main.css.map */